<md-progress-linear ng-show="loading" md-mode="indeterminate"></md-progress-linear>
<md-content layout="column" flex class="md-padding" ng-show="!loading" flex>
    <md-toolbar ng-class="{'md-warn' : products.length == 0}" layout="row" layout-align="center center">
        <span ng-if="products.length == 0" flex layout-margin>Eroare : nu avem ce lista!</span>
        <span flex ng-if="products.length>0">
            <span class="md-accent md-text-float" i18n="_AlbumsList_" layout-margin
                  layout-align="center center"></span>
        </span>
    </md-toolbar>

    <div class="md-padding" flex layout-fill>
        <div ng-if="priceIsDisplayed" layout-align="start center" layout="row">
            <h1 flex>{{localize.getLocalizedString('_Total_')}}<span count-to="{{price}}" value="0"
                                                                     duration="1"></span>
                {{priceCurrency}}
            </h1>
            <!--style="border:dodgerblue;border-style:solid"-->
            <md-input-container>
                <label i18n="_NoOfCollages_"></label>
                <input required
                       min="{{selectors[1] ? selectors[1].requiredQuantity : numberOfCollages}}"
                       ng-model="numberOfCollages"
                       ng-blur="calculateTotalPrice(numberOfCollages)"
                       type="number"
                       step="1">
            </md-input-container>
            <md-input-container>
                <md-select ng-model="priceCurrency" ng-change="setCurrency(priceCurrency)">
                    <md-select-label>{{ localize.getLocalizedString('_PricesIn_') + priceCurrency}}</md-select-label>
                    <md-option value="EUR">EUR</md-option>
                    <md-option value="RON">RON</md-option>
                </md-select>
            </md-input-container>

        </div>
        <div ng-if="!priceIsDisplayed"
             layout="column"
             layout-align="end center" layout-fill flex>
            <h1>Selectați opțiunile pentru a calcula prețul!</h1>
        </div>
    </div>

    <md-tabs md-border-bottom md-selected="selectedIndex"
             flex layout-fill
             md-dynamic-height="false"
             md-no-pagination="false"
             md-stretch-tabs="never">
        <md-tab label="{{localize.getLocalizedString('_AlbumSize_')}}">
            <md-content class="md-padding" flex layout-fill>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="product in products">
                        <md-card layout-padding layout-margin flex ng-click="setSelectedProduct(product)">
                            <md-card-content ng-class="{'selector' : selectedProduct.productId == product.productId}">
                                {{product.name}}
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>

        <md-tab label="{{localize.getLocalizedString('_PaperType_')}}" ng-disabled="!selectedProduct">
            <md-content class="md-padding" flex layout-fill>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="selector in selectors[1].selectors">
                        <md-card layout-padding layout-margin flex ng-click="setFirstSelector(selector)">
                            <md-card-content
                                    ng-class="{'selector' : selectedSelectors[1].materialId == selector.materialId}">
                                {{selector.name}}
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>

        <md-tab label="{{localize.getLocalizedString('_FaceoffType_')}}" ng-disabled="!selectedProduct">
            <md-content class="md-padding" flex layout-fill>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="selector in selectors[2].selectors">
                        <md-card layout-padding layout-margin flex ng-click="setSecondSelector(selector)">
                            <md-card-content
                                    ng-class="{'selector' : selectedSelectors[2].materialId == selector.materialId}">
                                {{selector.name}}
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>

        <md-tab label="{{localize.getLocalizedString('_CoverType_')}}" ng-disabled="!selectedProduct">
            <md-content class="md-padding" flex layout-fill>
                <md-list>
                    <md-list-item class="md-3-line" ng-repeat="selector in selectors[3].selectors">
                        <md-card layout-padding layout-margin flex ng-click="setThirdSelector(selector)">
                            <md-card-content
                                    ng-class="{'selector' : selectedSelectors[3].materialId == selector.materialId}">
                                {{selector.name}}
                            </md-card-content>
                        </md-card>
                    </md-list-item>
                </md-list>
            </md-content>
        </md-tab>

        <md-tab label="{{localize.getLocalizedString('_UploadCollages_')}}" ng-disabled="!priceIsDisplayed">
            <md-content class="md-padding" flex layout-fill>
                <div drop-zone
                     callbacks="callbacks"
                     class="dropzone dz-drag-hover"
                     file-remove-request="dropzoneRemoveFile"
                     start-upload-request="dropzoneStartUpload"
                     options="dropZoneOptions">
                    <div><span>{{localize.getLocalizedString('_DropFilesHere_')}}</span></div>
                </div>

                <div layout-fill layout="row" layout-align="end center" layout-margin>
                    <md-button class="md-warn md-primary" ng-click="launchCommand()">
                        Lansează comanda!
                    </md-button>
                </div>
                <div layout-fill style="min-height: 30px;">
                </div>
                <md-grid-list md-cols="2" md-gutter="1em" md-row-height="1:1" ng-if="files.length > 0">
                    <md-grid-tile ng-repeat="file in files">
                        <md-card layout-fill layout="row">
                            <div layout-margin layout-padding layout="column" layout-align="center center">
                                <div class="card">
                                    <div class="card-image">
                                        <div class="card-title">{{file.name}} - {{file.fileSize}}</div>
                                        <img ng-if="file.thumbnail"
                                             alt="{{file.name}}"
                                             ng-attr-src="{{file.thumbnail}}"/>
                                    </div>
                                </div>
                                <md-button ng-hide="file.upload.progress > 0"
                                           ng-click="removeFileFromDropzone($event, file)" layout-fill flex>Ștergeți
                                </md-button>
                                <md-progress-linear ng-show="file.upload.progress > 0"
                                                    value="{{file.upload.progress}}"
                                                    md-mode="determinate"></md-progress-linear>
                            </div>
                        </md-card>
                    </md-grid-tile>
                </md-grid-list>


            </md-content>
        </md-tab>

    </md-tabs>
</md-content>
<script type="text/ng-template" id="loadingDialog.html">
    <md-dialog aria-label="Loading" layout-padding layout-margin layout="column" layout-align="center center">
        <md-progress-linear md-mode="determinate" value="{{progressValue}}"></md-progress-linear>
        <div layout-fill style="min-height: 30px;">
        </div>
        <span>{{picsCounter}}{{localize.getLocalizedString('_filesLeft_')}}</span>
    </md-dialog>
</script>